Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
IndentCaseLabels: false
AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
InsertBraces: true

ColumnLimit: 120
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignConsecutiveMacros: true
AlignOperands: Align

SpacesInContainerLiterals: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  # windows.h first: psapi.h and other Win32 headers use its types.
  - Regex: '^<windows\.h>'
    Priority: 2
  - Regex: '^<(ISmmPlugin|igameevents|iplayerinfo|sh_)'
    Priority: 3
  - Regex: '^<'
    Priority: 4

DerivePointerAlignment: false
PointerAlignment: Left
