/* Layout only. A screen restyles .Button after including this. */
.Button {
  height: 28px;
  padding: 0px 12px;
  flow-children: right;
}

.Button-label {
  horizontal-align: center;
  vertical-align: center;
  font-size: 13px;
}

.Button.Hidden {
  visibility: collapse;
}
