/* Layout only. A screen restyles .button after including this. */
.button {
  height: 28px;
  padding: 0px 12px;
  flow-children: right;
}

.button__label {
  horizontal-align: center;
  vertical-align: center;
  font-size: 13px;
}

.button.hidden {
  visibility: collapse;
}
