.card {
  width: 100%;
  height: fit-children;
  flow-children: down;
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.05);
}

.card.hidden {
  visibility: collapse;
}

/* Fixed height so both lines of text always fit. */
.card__main {
  width: 100%;
  height: 48px;
  flow-children: right;
}

/* Hidden until the card has an icon, because an empty icon slot still takes up space. */
.card .icon-set {
  visibility: collapse;
}

.card.card--icon .icon-set {
  visibility: visible;
}

.card__body {
  width: fill-parent-flow(1);
  height: fit-children;
  flow-children: down;
  vertical-align: center;
  padding: 0px 10px;
}

.card__title {
  width: 100%;
  font-size: 15px;
  color: #e8e6e0;
  text-overflow: ellipsis;
}

.card__subtitle {
  width: 100%;
  font-size: 12px;
  color: #8a8778;
  text-overflow: ellipsis;
}

.card__value {
  width: 90px;
  vertical-align: center;
  text-align: right;
  font-size: 15px;
  color: #c8a24a;
}

.card .bar {
  width: 100%;
  height: 3px;
}
